

body{
    font-family: 'Comic Sans MS' ,sans-serif;
}


.container{
    font-size: 20px;
    background: linear-gradient(to bottom right, #caf441, #7ca91b);
}
.title {
    background-color:darkslategray;
    text-align:  center;
   height: 100px;
}

.color-title{
    color:darkslategray;
}

.size-text{
    font-size: 15px;

}




.color{
    color: greenyellow;
}

.color-white{
    color: #fff;

}
.inline{
    text-align: center;
}

.radius{
    border-radius: 100px;
}

.btn-background{
    background-color: greenyellow;

}




.boton-style {
    width: 350px;
    height: 50px;
    background-color:transparent;
    margin: 5px;
    padding: 10px;
    border-width:30px;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    float: left;
    -webkit-box-shadow: inset 0px 0px 3px 3px rgba(0,0,0,0.10);
    -moz-box-shadow: inset 0px 0px 3px 3px rgba(0,0,0,0.10);
}

.boton{
    color: #fff;
}
.boton-style:hover{
    background-color: greenyellow;
}